<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Posts</title>
 </head>
 <body>
   <h1>Creat a new posts</h1>
   <form method="post" action="/posts">
     <p>Post Name: <input type="text" name="name"></p>
     <textarea name="content"></textarea>
     <input type ="submit" id= "submit">
   </form>
 </body>
</html>
